.hero {
  height: 100vh;
  min-height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(21, 21, 21, 1) 34%,
    rgba(255, 255, 255, 1) 34%
  );

  picture {
    width: 33.5%;
    min-height: 50rem;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

.relative__title__left {
  position: absolute;
 top: 10.625rem; 
  right: 57%;
  left: 23.35%;
  height: fit-content;
  display: flex;
  flex-direction: row;

  h1 {
    background: linear-gradient(90deg, 
    $white__shade 50%, 
    $black__shade 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    span:nth-child(1) {
      display: block;
    }

    span {
      font-size: clamp(4.25rem, 7vw, calc(7rem + 1vw));
      font-weight: bold;
      font-family: $font__big;
      text-transform: uppercase;
    }
  }
}

.relative__title__right {
  position: absolute;
  right: calc(17.5% - 0.5vw);
  left: calc(60% - 0.5vw);
  top: 11.9063rem;

  p {
    font-family: $font__outfit;
    font-size: clamp(0.75rem, 3.5vw, calc(1.0625rem + 0.5vw));
  }

  .i__link__container {
    margin-top: calc(2.5rem + 1vw);
    width: 15rem;
    height: 3.4375rem;
    font-family: $font__big;
    font-size: 1.5938rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: $black__shade;
    color: $white__shade;
    letter-spacing: 0.2rem;
    font-weight: 600;

    &:hover {
      cursor: pointer;
        background: $beige;

      .i__link__container__arrow {
        background-color: $black__shade;
      }
    }

    .i__link__container__text {
      text-align: center;
      margin-left: auto;

      a {
        text-decoration: none;
      }
    }

    .i__link__container__arrow {
      width: 20.5%;
      background: $beige;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.4375rem; 
      margin-left: auto;

      img {
        scale: 1.2;
      }
    }
  }
}
