.location__header {
  picture {
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: 37.5rem;
    }
  }

  .l__link__container {
    position: fixed;
    top: 0;
    left: 6.25rem;
    width: 15rem;
    height: 3.4375rem;
    font-family: $font__big;
    font-size: 1.5938rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $black__shade;
    color: $white__shade;
    letter-spacing: 0.2rem;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background-color: $beige;

      .l__link__container__arrow {
        background-color: $black__shade;
      }
    }

    .l__link__container__text {
      text-align: center;
      margin-left: auto;

      a {
        text-decoration: none;
      }
    }

    .l__link__container__arrow {
      width: 20.5%;
      background: $beige;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.4375rem;
      margin-left: auto;

      img {
        scale: 1.2;
      }

      &:hover {
        background-color: $black__shade;
        cursor: pointer;
      }
    }
  }
}

.location__main {
  min-height: 21.875rem;
  background-color: $black__shade;
  padding: calc(2.8125rem + 1vw) 0;
  height: 45vh;
  display: flex;
  align-items: center;

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h1__a art__a";
    max-width: 90%;
    margin-inline: auto;
    padding: 1.25rem;

    h1 {
      grid-area: h1__a;
      text-transform: uppercase;
      font-family: $font__big;
      font-weight: 700;
      color: $white__shade;
      font-size: clamp(3.5rem, 3.5vw, calc(4.375rem + 0.5vw));

      span {
        display: block;
      }
    }

    article {
      grid-area: art__a;

      h2 {
        font-family: $font__big;
        font-size: clamp(1.75rem, 4vw, calc(2.25rem + 1vw));
        text-transform: uppercase;
        color: $beige;
        font-weight: 700;
      }

      ul,
      p {
        display: flex;
        align-items: start;
        flex-direction: column;
        font-family: $font__outfit;
        margin-top: 0.625rem;
        color: $white__shade;
        font-size: clamp(0.75rem, 3vw, calc(1rem + 0.5vw));
      }

      ul {
        li:nth-child(2) {
          margin-top: 0.3125rem;
          margin-bottom: 0.3125rem;
        }

        p:nth-child(3) {
          margin-top: 1.5625rem;
          color: pink;
        }
      }
    }
  }
}

.location__footer {
  background-color: $beige;

  p {
    color: $black__shade;
  }

  .social__links {
    a img {
      filter: invert(100%);
    }
  }
}
