/* tablet + mobile only styles*/
@media only screen and (max-width: 1023px) {
    main {
        .relative__title__left {
            h1 {
                color: black; 
                background: none;
                mix-blend-mode: normal;
                -webkit-text-fill-color: black;
            }
        }
    }
}

/* tablet only styles*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        .hero {
            justify-content: start;
    
            picture {
                width: 50%;
            }
        }
    }

    main {
        .relative__title__left {
            left: 45%; 
            min-width: 367px;
            top: calc(150px + 10.5vh); 
        }

        .relative__title__right {
            top: calc(440px + 5vw + 1vh); 
            left: 45%; 
            right: 20%; 

        }
    }

    body footer {
        p {
            line-height: calc(20px + 1vw);
            margin-top: 12.5px;
            font-size: clamp(14px, 3.5vw, 18px); 
            width: 100%; 
            max-width: 320px; 

        }
    }

}