/* tablet + mobile only styles*/
@media only screen and (max-width: 63.9375em) {
    main {
        .relative__title__left {
            h1 {
                color: black; 
                background: none;
                mix-blend-mode: normal;
                -webkit-text-fill-color: black;
            }
        }
    }
}

/* tablet only styles*/

@media only screen and (min-width: 48em) and (max-width: 63.9375em) {
    body {
        .hero {
            justify-content: start;
    
            picture {
                width: 50%;
            }
        }
    }

    main {
        .relative__title__left {
            left: 45%; 
            min-width: 22.9375rem;
            top: calc(9.375rem + 10.5vh); 
        }

        .relative__title__right {
            top: calc(27.5rem + 5vw + 1vh); 
            left: 45%; 
            right: 20%; 
        }
    }

    body footer {
        p {
            line-height: calc(1.25rem + 1vw);
            margin-top: 0.7813rem;
            font-size: clamp(0.875rem, 3.5vw, 1.125rem); 
            width: 100%; 
            max-width: 20rem; 
        }
    }

}

