$beige: rgb(213, 150, 108); 
$black__shade: #151515; 
$gray__shade: #444444; 
$white__shade: #ffffff; 

$font__big: 'Big Shoulders Display', sans-serif;
$font__outfit: 'Outfit', sans-serif;



$gold: rgb(255, 207, 136);
